<table style="background-color:#ffffff; text-align: center; font-family: Arial, sans-serif; color: #333;" width="600"
    cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <div style="padding: 15px 30px; background-color: #009DFF; text-align: left;">
                <img src="{{ VITE_APP_LOGO_URL }}" alt="iSiigo Logo" style="width: 65px; height: 40px;" />
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <!-- Imagen principal -->
            <img src="{{ main_image_url }}" alt="Descarga Siigo Fiscal" width="600"
                style="width: 600px; display: block;">
        </td>
    </tr>
</table>
